img{
  max-width: 100%;
  height: auto;
}

.allslider{
  height: 100%;
}

.slider_title{
  z-index: 999;
  //    right: 0;
}

.flickity-page-dots{
  position: absolute;
  bottom: 0;
  right: 0;
  //    background-color: rgba(0,0,0,0.7);
  display: inline-block !important;
  bottom: 20px;
  right: 23px;
  padding: 5px;
  margin: 0;
  z-index: 9999;

  .dot{
    list-style-type: none;
    display: -webkit-inline-box;
    padding: 0;
    border: 0;
    width: 12px;
    height: 12px;
    -moz-border-radius: 999px / 999px;
    -webkit-border-radius: 999px 999px;
    border-radius: 999px / 999px;
    //    background-color: #242424;
    margin-right: 7px;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: rgba(255,255,255,0.2902) -1px -1px 0px 0px inset;
    -moz-box-shadow: rgba(255,255,255,0.2902) -1px -1px 0px 0px inset;
    box-shadow: rgba(255,255,255,0.2902) -1px -1px 0px 0px inset;
    background-image: -webkit-linear-gradient(100deg, #0f0f0f 0%, #757575 100%);
    background-image: -moz-linear-gradient(100deg, #0f0f0f 0%, #757575 100%);
    background-image: -o-linear-gradient(100deg, #0f0f0f 0%, #757575 100%);
    background-image: -ms-linear-gradient(100deg, #0f0f0f 0%, #757575 100%);

    &.is-selected{
      background-image: none;
      background-color: white;
    }
  }
}

.flickity-viewport, .flickity-slider{
  height: 100%;
}

//.sliderContainer{
//    position: relative;
//}

.sliderElem{
  height: 100%;
  width: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.imageholder{
  width: 100%;
  height: auto;
}

span.at-sign{
  font-family: $font6 !important;
  font-weight: 300 !important;
  font-style: normal !important;
  color: white !important;
}
.pagewrap{
  position:relative;
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
  #pagecontainer{
    margin:auto;
    padding: 30px 10%;
    max-width:900px;
    opacity:0;
  }
}

header#mobile-header {
  @include animateElement(top 0.5s);
  position:fixed;
  background-color:#ffaf00;
  top:0;
  left:0;
  right:0;
  height:45px;
  z-index: 998;
  border-bottom:1px solid $color2;

  .logo {
    background-image: url('../images/logo-mobile.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    width:200px;
    height:45px;
    margin:0 20px;
    float:left;
  }
  .menu-button {
    background-image: url('../images/menu-icon.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    width:30px;
    height:45px;
    margin:0 20px;
    float:right;
    cursor:pointer;
  }
}

// language selector
.lang_selector{
  text-align: right;
  padding:0 20px;
  @include clearfix();
  position:relative;
  z-index:9999999;
  a{
    float:right;
    margin-left:10px;
    font-family:$font2;
    font-size:18px;
    color:#a07a22;
    &.active{
      color:#000;
      text-decoration:underline;
    }
  }
}


.page, .single{
  #breadcrumbs {
    margin:20px 0;
    font-family:$font2;
    font-size:17px;
    text-transform:uppercase;
    color:#fff;
    letter-spacing:-1px;
    a{text-decoration:none;}
    .breadcrumb_last{color:$color1;}
  }
}

.home {
  .page-title{display:none;}
  h1{font-size: 150px;}
  p{max-width:600px}
  #pagecontainer {
    margin:auto;
    max-width:740px;
    padding-top:12%;
  }
}

.single{
  .page-title{color:#757575; margin: 0px 0 25px 0;}
  color:#757575;
  .call-to-action .title{color:#fff}
  section.main-content, section.call-to-action{
    p{
      color: #E4E4E4;
    }
  }
}

.edgeart_flipclock {
  width: auto;
  padding:50px 0;
  .flip-clock-label {
    font-family:$font2;
    color:$color1;
  }
  .flip-clock-dot {background: #cccccc; width:8px; height:8px; left:2px;}
  .flip-clock-dot.top {top:20px;}
}

.page-template-pagetemplateswat-is-nieuw-php {

  #pagewrap{
    bottom: 0px;
  }

  #pagecontainer{
    max-width: initial;
    padding: initial;
  }

  #slider_about, #slider_services, #slider_news{
    width: auto !important;
    width:initial !important;
    height: auto !important;
    height:initial !important;

    .bullets{
      bottom:20px;
      right:23px;
      display:none;
    }
  }
  #slider_news{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:40%;

    background-color:$color1;
    @include gradient($color1, #ffaf00, 180deg);
  }

  #slider_about, #slider_services{
    position:absolute;
    left:50%;
    right:0;
    top:60%;
    bottom:0;
  }

  #slider_about{
    left:0;
    right:50%;
  }
}

.category {
  #pagewrap{
    bottom: 0px;
  }

  #pagecontainer{
    max-width: initial;
    padding: initial;
  }

  .allslider{
    width: auto !important;
    width:initial !important;
    height: auto !important;
    height:initial !important;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
  }
}

#clients.slideout-portfolio{

  div.item{
    .overlay{
      background-color: transparent !important;
      background-size: contain !important;
      @include single-transition(opacity, 0.3s);
      opacity: 0.5;
      visibility: visible;
    }

    &:hover{
      .overlay{
        opacity: 1;
      }
    }
  }

  .portfolio-item-viewer{

    .close-btn{
      background-image: url("../images/kruisje_zwart.png");
    }

    .content{
      width: 100%;
      text-align: center;
      background: white;
      padding: 40px 50px 50px 50px;

      .logo{
        //margin: 35px 0 65px 0;

      }

      h3{
        color: #000;
        font-family: $font5;
        font-size: 35px;
        font-weight: 700;
      }
      p{
        color: #000;
        margin: 20px auto 30px auto;
        max-width: 700px;
      }
      a.btn{
        color: white;
        background: #000;
        float: none;
        margin-right: 0;
        &:after{
          background-color: #fff;
        }
      }
    }
  }
}

.slideout-portfolio{
  .inner{
    position: relative;
    width:100%;
    min-height: 200px;
  }
  .portfolio-item-viewer{
    width:100%;
    padding:0;
    max-height: 0;

    &.expanded{
      padding:0 ;
      width: 100% ;
      max-height: none !important;
    }
  }
}

// NIEUWS SLIDER
.news-slider {
  height: 100%;
  width:100%;
  outline: none;
  overflow:hidden;
  //padding-top:28px;
  .flickity-viewport {
    @include single-transition(all, 0.5s);
    padding-top:100px;
  }
  .gallery-cell{
    //height: 100%;
    @include box-sizing();
    width: 33%;
    counter-increment: gallery-cell;
    @include transition-property(padding, margin-top);
    @include transition-duration(0.5s);
    top:0;
    margin-top:0;
    //        padding: 0 50px;

    .slide-img{
      display: block;
      width:65%;
      //            width: 246px;
      margin:0 auto;
      height: auto;
      padding:19% 0 0;
      //margin-top: 108px;
      @include single-transition(all, 0.5s);
      position:relative;
      opacity:0.6;
      background-size: cover;
      //            margin-left: 5%;

      img{
        max-width: 100%;
        height: auto;
      }

      button{
        opacity:0;
        @include single-transition(all, 0.5s);
        position:absolute;
        top:45%;

        width: 50%;
        padding: 21% 0;


        &.next{
          right: -58%;
          background-position: 0 50%;
        }

        &.previous{
          left: -58%;
          background-position: 100% 50%;
        }

      }
    }

    .content{
      position:relative;
      text-align: center;
      @include single-transition(all, 0.5s);

      h3{
        color: #f1bf00;
        font-size: 23px;
        font-weight: 400;
        line-height: 120%;
        text-transform: uppercase;
        font-family: $font5;
        font-weight: 700;
        margin-bottom: 0;
        opacity: 0.5;

        span.subtitle{
          vertical-align: top;
          span{
            color: #f1bf00;
            margin: 0 7px;
          }
        }
      }

      h4{
        color: white;
        font-family: $font3;
        font-size: 14px;
        font-weight: 300;
        line-height: 31px;
        text-transform: uppercase;
        margin-top: 0px;
        opacity: 0.5;
        line-height: 100%;
      }

      p{
        color: white;
        font-family: $font1;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
        padding-left: 0;
        //                opacity: 0;
        //                visibility: hidden;
        display: none;
        padding: 5px;
      }

      span.subtitle{
        display: none;
      }
    }

    .read-all{
      display: none;
      margin-top: 25px;
      h1{
        font-size: 1.8em;
      }
      h2{
        font-size: 1.6em;
      }
      h3{
        font-size: 1.4em;
      }
    }

    &.is-selected{
      z-index:9999;
      padding:0;
      margin-top: -4%;
      //            width: 28%;

      .slide-img{
        opacity:1;
        //        padding:28% 0;
        margin-top:0px;
        width:100%;
        //                width: 369px;

        button{ opacity:1;}
      }
      .content{
        width: 160%;
        margin-left: -30%;
        opacity: 1;
        visibility: visible;

        span.subtitle{
          color: white;
          max-width: 0;
          height: 40px;
          display: inline-block;
          overflow: hidden;
          max-width: 310px;
          white-space: nowrap;
        }

        p, .social-network.telephone{
          //                    opacity: 1;
          //                    visibility: visible;
          display: block;
        }

        ul.social-media{
          display: inline-block;
        }

        h3{
          font-size: 35px;
          opacity: 1;
          width: 200%;
          margin-left: -50%;
        }
        h4{
          width: 200%;
          margin-left: -50%;
          font-size: 19px;
          opacity: 1;
          margin-top: 0;
        }
      }

      .read-all{
        display: block;
      }
    }

    &.previous{
      margin-left: -2%;
      @include single-transition(all, 0.3s);
    }

    &.next{
      margin-left: 2%;
      @include single-transition(all, 0.3s);
    }
  }

  //    .flickity-prev-next-button{
  //        border: 0;
  //        padding:0;
  //        background-repeat: no-repeat;
  //        background-position: center;
  //        border-radius:0;
  //        width:26px;
  //        height:73px;
  //        background-color:transparent;
  //        top: 35%;
  //
  //        svg{
  //            display: none;
  //        }
  //
  //        &:hover{
  //            background-color:transparent;
  //
  //            background-repeat: no-repeat;
  //            background-position: center;
  //
  //            &.previous{background-image: url('../images/slider-prev-btn.png');  }
  //            &.next{background-image: url('../images/slider-next-btn.png');   }
  //
  //        }
  //    }
  //    .previous{	left:21%; background-image: url('../images/slider-prev-btn.png');  }
  //    .next{	right:21%; background-image: url('../images/slider-next-btn.png');   }
}

ul.social-media{
  //                opacity: 0;
  //                visibility: hidden;
  display: none;
  margin: 0 auto;
  margin-top: 15px;
  padding: 0;
  list-style: none;
  display: none;

  li.social-network{
    position: relative;
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: #b3b3b3;
    border-radius: 100%;
    margin: 0 5px;

    &:first-child{
      margin-left: 0;
    }

    &:last-child{
      margin-right: 0;
    }

    &:hover{
      background: $color1;
      //            background: white;
      transition: all 0.3s;
    }

    &:after{
      position:absolute;
      top:50%;
      left:50%;
      @include translate(-50%, -50%);
      font-family: "FontAwesome";
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      font-size: 23px;
      transition: 0.5s;
      color: black;
    }

    &.facebook{
      &:after{
        content: "\f09a";
        margin-top: 1px;
      }
    }

    &.twitter{
      &:after{
        content: "\f099";
        margin-left: 0px;
        margin-top: 1px;
      }
    }

    &.linkedin{
      &:after{
        content: "\f0e1";
        margin-left: 1px;
        margin-top: 0px;
      }
    }

    &.pinterest{
      &:after{
        content: "\f231";
        margin-left: 0;
        margin-top: 2px;
        font-size: 21px;
      }
    }

    &.instagram{
      &:after{
        content: "\f16d";
        margin-left: 0px;
        margin-top: 1px;
      }
    }

    a{
      height: 40px;
      width: 40px;
      position: absolute;
      left: 0;
      z-index: 999;
    }
  }
}
.social-network.telephone{
  //                opacity: 0;
  //                visibility: hidden;
  display: none;
  color: white;
  margin-top: 15px;
  font-family: $font3;
  font-size: 20px;
  font-weight: 600;

  &:after{
    content: "";
  }
}

body.page-template-members{
  .pagewrap{
    overflow: hidden;
    .news-slider{
      overflow: visible !important;
    }
  }

  section#teammembers{
    min-height: 100%;
    overflow: visible !important;
  }
  article.pagewrap{
    footer{
      @include pie-clearfix();
      position: absolute;
      bottom: 45px;
      left: 45px;
      right: 45px;

      ul.social-media{
        display: block;
        float: right;
        //                padding-right: 45px;
        margin-top: 0;
        max-width: 30%;
      }

      span.at-sign{
        font-size: 16px;
      }

      span.footer-info{
        font-size: 20px;
        line-height: 120%;
        color: white;
        font-family: $font3;
        font-weight: 600;
        display: inline;
        margin-top: 8px;
        max-width: 70%;
        float: left;

        span{
          color: #d2a600;
          font-family: $font3;
          font-weight: 600;
        }
      }
    }
  }
}
