@import 'edgeart/functions';
@import 'breakpoint';
@import 'site/settings';

html, body {
  background-color: #000;
  font-family: $font1;
  font-size: 13px;
  color: #757575;
  line-height: 180%;
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
}

a {
  color:#000;
}