@include breakpoint(1200px){
  
  .home {
    h1{font-size: 150px; text-align:center;}
    p {max-width: 600px; margin:0 15px;}
    #pagecontainer {padding:12% 25px;}
  }
  
  .edgeart_flipclock {
    margin-left: -360px;
    ul {
      width:70px;
      height:100px;
      margin:5px;
      
      li{
        line-height:100px;
        a div div.inn {font-size:70px;}
        a div.up:after {top:49px;}
      }
    }
    .flip-clock-divider { width:15px; height:108px }
    .flip-clock-dot {width:10px; height:10px; left:2px;}
    .flip-clock-dot.top, {top:35px;}
    .flip-clock-dot.bottom {bottom:35px;}
    .flip-clock-label {font-size:30px; right:-105px}
    .flip-clock-divider.minutes .flip-clock-label {right:-118px}
    .flip-clock-divider.seconds .flip-clock-label {right:-120px}
  } 
}