@include breakpoint(00px){
   
  //.admin-bar aside#main-menu {top:46px;}
  .pagewrap {top:45px;}
  //.admin-bar header#mobile-header {top:46px;}
   
  aside#main-menu {
    width:325px;
    transform:translateX(-332px);
    -ms-transform:translateX(-332px);
    -webkit-transform:translateX(-332px);
    @include animateElement( all 0.3s);
 

    div.inner{
      position: relative; min-heigth:600px;

      div.fullheight{
        height: 100%;
        overflow: hidden;
      }
    }

  }
  
  aside#main-menu.opened {
    transform:translateX(0px);
    -ms-transform:translateX(0px);
    -webkit-transform:translateX(0px);
  }
  
  .single, .page {
    .prev_post, .next_post{
       cursor:pointer;
       display:block;
        background-color:none;
        background-size:50%;
        background-repeat:no-repeat;
        background-position:50%;
        width:50px;
        height:50px;
        margin-top:100px;
        margin-bottom:-100px;
        display:none;
        z-index: 9;
position: relative;
    }
    
    .next_post {
      background-image: url('../images/arrow-icon-left.png');
      margin-left:3%;
      float:left;
      &:hover{
        background-image: url('../images/arrow-icon-left-hover.png');
      }
    }
    
    .prev_post {
      background-image: url('../images/arrow-icon-right.png');
      margin-right:3%;
      float:right;
      &:hover{
        background-image: url('../images/arrow-icon-right-hover.png');
      }
    }
  }
  
  .home {
    h1{font-size: 70px; text-align:center;}
    #pagecontainer {padding:75px 25px;}
  }
  
  .edgeart_flipclock {
    
    margin-left: -151px;
    display: inline;
    position: absolute;
    left: 50%;
    
    ul {
      width:20px;
      height:45px;
      margin:2px;
      padding:15px; 
      li{ 
        line-height:45px;
        a div div.inn {font-size:25px;}
        a div.up:after {top:22px;}
      }
    }
    .flip-clock-divider { width:5px; height:48px }
    .flip-clock-dot {width:5px; height:5px; left:0px;}
    .flip-clock-dot.top, {top:17px;}
    .flip-clock-dot.bottom {bottom:17px;}
    .flip-clock-label {font-size:20px; right:-55px}
    .flip-clock-divider.minutes .flip-clock-label {right:-63px}
    .flip-clock-divider.seconds .flip-clock-label {right:-65px}
  }
  
  #slider_news .imageholder img {display:none}
  .allslider .sliderElem {
    .labels{
      h1{font-size:45px; margin:25px 0 10px 0}
      h2{font-size:22px; margin:10px 0 10px 0}
    } 
  }
  
  #slider_about, #slider_services{display:none;}
  
  .portfolio-slider {
    .desktop, .btn-prev, .btn-next, .bullets {display:none;}
    .mobile {display:block;} 
  }
  
  aside#main-menu nav .menu-hoofdmenu-container .menu .menu-item .sub-menu .menu-item .sub-menu.expanded,
  aside#main-menu nav .menu-hoofdmenu-container .menu .menu-item .sub-menu .menu-item .sub-menu .menu-item {
    width:250px;
  }
  
}

@include breakpoint(550px){
  .home {
    h1{font-size: 100px; text-align:center;}
    #pagecontainer {padding:75px 25px;}
  }



  .edgeart_flipclock {
    margin-left: -200px;
    ul {
      width:25px;
      height:55px;
      margin:5px;
      padding:18px; 
      li{ 
        line-height:55px;
        a div div.inn {font-size:30px;}
        a div.up:after {top:27px;}
      }
    }
    .flip-clock-divider { width:5px; height:62px }
    .flip-clock-dot {width:5px; height:5px; left:0px;}
    .flip-clock-dot.top, {top:22px;}
    .flip-clock-dot.bottom {bottom:22px;}
    .flip-clock-label {font-size:25px; right:-72px}
    .flip-clock-divider.minutes .flip-clock-label {right:-80px}
    .flip-clock-divider.seconds .flip-clock-label {right:-82px}
  }
}

@include breakpoint ('max-height' 500px) {
  aside#main-menu {
    overflow: auto !important;
  

    .logo{
      width: 200px;
      height: 150px;
      margin: 40px auto;
    }
  }
}

@include breakpoint ('max-height' 650px) {
  
  aside#main-menu nav .menu-hoofdmenu-container .menu .menu-item .sub-menu .menu-item .sub-menu .menu-item .sub {
    display:none;
  }
  
  aside#main-menu nav .menu-hoofdmenu-container .menu .menu-item .sub-menu .menu-item .sub-menu .menu-item p {
    padding-top:20px;
  }

}
