@charset "utf-8";

@font-face {
  font-family: 'DINBold';
  src: url('../fonts/din-bold-webfont.eot');
  src: url('../fonts/din-bold-webfont.eot?#iefix') format("embedded-opentype"), 
       url('../fonts/din-bold-webfont.woff') format("woff"), 
       url('../fonts/din-bold-webfont.ttf') format("truetype"), 
       url('../fonts/din-bold-webfont.svg#DINBold') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINRegular';
  src: url('../fonts/dinrg-webfont.eot');
  src: url('../fonts/dinrg-webfont.eot?#iefix') format("embedded-opentype"), 
       url('../fonts/dinrg-webfont.woff') format("woff"), 
       url('../fonts/dinrg-webfont.ttf') format("truetype"), 
       url('../fonts/dinrg-webfont.svg#DINRegular') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINLight';
  src: url('../fonts/din_light-webfont.eot');
  src: url('../fonts/din_light-webfont.eot?#iefix') format("embedded-opentype"), 
       url('../fonts/din_light-webfont.woff') format("woff"), 
       url('../fonts/din_light-webfont.ttf') format("truetype"), 
       url('../fonts/din_light-webfont.svg#DINLight') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'DINcond-bold';
    src: url('../fonts/ff_din_condensed_bold-webfont.eot');
    src: url('../fonts/ff_din_condensed_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ff_din_condensed_bold-webfont.woff') format('woff'),
         url('../fonts/ff_din_condensed_bold-webfont.ttf') format('truetype'),
         url('../fonts/ff_din_condensed_bold-webfont.svg#dincond-boldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/bebas/BebasNeueBook.eot?#iefix') format('embedded-opentype'),  url('../fonts/bebas/BebasNeueBook.otf')  format('opentype'),
		url('../fonts/bebas/BebasNeueBook.woff') format('woff'), url('../fonts/bebas/BebasNeueBook.ttf')  format('truetype'), url('../fonts/bebas/BebasNeueBook.svg#BebasNeueBook') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/bebas/BebasNeueBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/bebas/BebasNeueBold.otf')  format('opentype'),
		url('../fonts/bebas/BebasNeueBold.woff') format('woff'), url('../fonts/bebas/BebasNeueBold.ttf')  format('truetype'), url('../fonts/bebas/BebasNeueBold.svg#BebasNeueBold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/bebas/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),  url('../fonts/bebas/BebasNeueRegular.otf')  format('opentype'),
		url('../fonts/bebas/BebasNeueRegular.woff') format('woff'), url('../fonts/bebas/BebasNeueRegular.ttf')  format('truetype'), url('../fonts/bebas/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
	font-weight: 400;
	font-style: normal;
}


@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaBT.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
