@import 'edgeart/functions';
@import 'breakpoint';
@import 'site/settings';

html, body {
  background-color: #000;
  font-family: $font1;
  font-size: 13px;
  color: #757575;
  line-height: 180%;
  margin: 0;
  padding: 5%;
  height:auto;
  width:100%;
}

h2,h3,h4,h5 {
    color:#999;
}

a {
  color:#000;
}