@include breakpoint(1200px){

  .home {
    h1{font-size: 150px; text-align:center;}
    p {max-width: 600px; margin:0 15px;}
    #pagecontainer {padding:12% 25px;}
  }

  .edgeart_flipclock {
    margin-left: -360px;
    ul {
      width:70px;
      height:100px;
      margin:5px;

      li{
        line-height:100px;
        a div div.inn {font-size:70px;}
        a div.up:after {top:49px;}
      }
    }
    .flip-clock-divider { width:15px; height:108px }
    .flip-clock-dot {width:10px; height:10px; left:2px;}
    .flip-clock-dot.top, {top:35px;}
    .flip-clock-dot.bottom {bottom:35px;}
    .flip-clock-label {font-size:30px; right:-105px}
    .flip-clock-divider.minutes .flip-clock-label {right:-118px}
    .flip-clock-divider.seconds .flip-clock-label {right:-120px}
  }
}


@include breakpoint(1400px){
  .news-slider .gallery-cell{width: 25%;}

  #portfolio.slideout-portfolio {
    .portfolio-item-viewer{
//      padding: 20% 50%;
//      width:auto;

      .inner{
        position: absolute;
        width:100%;
        height: 100%;
      }

      .image{
        padding:0;
        width: 60%;
        height:100%;
        float: left;
        background-size: cover !important;
        background-position: center !important;

        img{
          max-width: 100%;
          height: auto;
        }
      }
      .content{
        width: 40%;
        float: right;
        //        padding: 100px 60px;
        padding: 5%;
        box-sizing: border-box;
        position: relative;

        h3{
          margin-top: 0px;
          margin-bottom: 10px;
        }

        p{
          padding: 0 30px;
          color: #fffefe;
          font-family: $font1;
          font-size: 15px;
          font-weight: 400;
          line-height: 150%;
        }
        /*a.btn{
        background: white;
        text-decoration: underline;
        padding: 3px 15px 5px 15px;
        //                margin-right: 30px;
        //                float: right;
        color: #010101;
        font-family: BebasNeue;
        font-size: 24px;
        font-weight: 400;
        line-height: 27px;
        float: right;
        margin-right: 30px;
      }*/
      }
      &.expanded{
        padding: 20% 50%;
        width:auto;
      }
    }
  }

}
