@include breakpoint(00px){

  //.admin-bar aside#main-menu {top:46px;}
  .pagewrap {
    //position: relative;
    top:45px;
  }
  //.admin-bar header#mobile-header {top:46px;}

  aside#main-menu {
    width:325px;
    transform:translateX(-332px);
    -ms-transform:translateX(-332px);
    -webkit-transform:translateX(-332px);
    @include animateElement( all 0.3s);


    div.inner{
      position: relative; min-heigth:600px;
      div.fullheight{
        height: 100%;
        overflow: hidden;
      }
    }

  }

  aside#main-menu.opened {
    transform:translateX(0px);
    -ms-transform:translateX(0px);
    -webkit-transform:translateX(0px);
  }

  .single, .page {
    .prev_post, .next_post{
      cursor:pointer;
      display:block;
      background-color:none;
      background-size:50%;
      background-repeat:no-repeat;
      background-position:50%;
      width:50px;
      height:50px;
      margin-top:100px;
      margin-bottom:-100px;
      display:none;
      z-index: 9;
      position: relative;
    }

    .next_post {
      background-image: url('../images/arrow-icon-left.png');
      margin-left:3%;
      float:left;
      &:hover{
        background-image: url('../images/arrow-icon-left-hover.png');
      }
    }

    .prev_post {
      background-image: url('../images/arrow-icon-right.png');
      margin-right:3%;
      float:right;
      &:hover{
        background-image: url('../images/arrow-icon-right-hover.png');
      }
    }
  }

  .home {
    h1{font-size: 70px; text-align:center;}
    #pagecontainer {padding:75px 25px;}
  }

  .edgeart_flipclock {

    margin-left: -151px;
    display: inline;
    position: absolute;
    left: 50%;

    ul {
      width:20px;
      height:45px;
      margin:2px;
      padding:15px;
      li{
        line-height:45px;
        a div div.inn {font-size:25px;}
        a div.up:after {top:22px;}
      }
    }
    .flip-clock-divider { width:5px; height:48px }
    .flip-clock-dot {width:5px; height:5px; left:0px;}
    .flip-clock-dot.top, {top:17px;}
    .flip-clock-dot.bottom {bottom:17px;}
    .flip-clock-label {font-size:20px; right:-55px}
    .flip-clock-divider.minutes .flip-clock-label {right:-63px}
    .flip-clock-divider.seconds .flip-clock-label {right:-65px}
  }

  //#slider_news .imageholder img {display:none}
  .allslider .sliderElem {
    .labels{
      h1{font-size:45px; margin:25px 0 10px 0}
      h2{font-size:22px; margin:10px 0 10px 0}
    }
  }

  //    #slider_about, #slider_services{display:none;}

  .portfolio-slider {
    .desktop, .btn-prev, .btn-next, .bullets {display:none;}
    .mobile {display:block;}
  }

  aside#main-menu nav .menu-hoofdmenu-container .menu .menu-item .sub-menu .menu-item .sub-menu.expanded,
  aside#main-menu nav .menu-hoofdmenu-container .menu .menu-item .sub-menu .menu-item .sub-menu .menu-item {
    width:250px;
  }

}

@include breakpoint(550px){
  .home {
    h1{font-size: 100px; text-align:center;}
    #pagecontainer {padding:75px 25px;}
  }



  .edgeart_flipclock {
    margin-left: -200px;
    ul {
      width:25px;
      height:55px;
      margin:5px;
      padding:18px;
      li{
        line-height:55px;
        a div div.inn {font-size:30px;}
        a div.up:after {top:27px;}
      }
    }
    .flip-clock-divider { width:5px; height:62px }
    .flip-clock-dot {width:5px; height:5px; left:0px;}
    .flip-clock-dot.top, {top:22px;}
    .flip-clock-dot.bottom {bottom:22px;}
    .flip-clock-label {font-size:25px; right:-72px}
    .flip-clock-divider.minutes .flip-clock-label {right:-80px}
    .flip-clock-divider.seconds .flip-clock-label {right:-82px}
  }
}

@include breakpoint ('max-height' 768px) {

  aside#main-menu nav .menu-hoofdmenu-container .menu .menu-item .sub-menu .menu-item .sub-menu .menu-item .sub {
    display:none;
  }

  aside#main-menu nav .menu-hoofdmenu-container .menu .menu-item .sub-menu .menu-item .sub-menu .menu-item p {
    padding-top:20px;
  }
  body.page-template-members {

    article.pagewrap{
      bottom:auto;
      footer{
        position: relative;
        bottom: auto;
        left: auto;
        right: auto;
        margin: 15px 0;
        padding: 20px 20px 20px 20px;
      }
    }
  }
}


@include breakpoint ('max-height' 500px) {

  aside#main-menu {
    overflow: auto !important;

    .logo{
      width: 200px;
      height: 150px;
      margin: 40px auto;
    }
  }
}

@media only screen and (orientation:landscape) and (max-height: 480px) and (min-width: 600px){
  body.page-template-members section#teammembers{
    padding-bottom: 70px;
    //min-height:300px;
  }
}

@media only screen and (orientation:portrait){
  .news-slider .gallery-cell{width: 55%;}
  .news-slider .gallery-cell.is-selected .slide-img{
    width: 75%;
  }
  .news-slider .gallery-cell .slide-img{
    width: 65%;
  }
}

@media only screen and (min-width:660px) and (max-width: 768px){
  .news-slider .flickity-viewport {
    padding-top: 2%;
  }
}

@media only screen and (min-width:0) and (max-width: 650px){

  aside#main-menu.opened{
    overflow-y: scroll;
  }

  .slideout-portfolio .portfolio-item-viewer{
    .content{
      text-align: center;
      a.btn{
        float: none;
        margin-right: 0;
      }
    }
  }

  .flickity-page-dots{
    display: none !important;
  }

  body.page-template-members {

    section#teammembers{
      min-height: auto;

      .flickity-viewport{
        padding-top:9%;
      }

      .content{
        h3, h4{
          //display: none;
        }
        span.email{
          font-size: 7px;
        }
      }
      .gallery-cell{
        .slide-img{
          padding: 0;
        }
      }

      .gallery-cell.is-selected {

        .slide-img{
          width:100%;
        }

        .content{
          h3, h4{
            display: block;
          }

          h3{
            font-size: 35px;
            margin-bottom:10px;
            margin-top:10px;

            span.subtitle{
              display: block;
              margin: auto;
              margin-top: -10px;

              span{
                display: none;
              }
            }
          }

          h4{
            margin-top: -15px;
            margin-bottom: 10px;

            span.email{
              font-size: 15px;
            }
          }

          p{
            font-size: 13px;
            width: 100%;
            line-height: 150%;
            margin-top: 0;
          }

          ul.social-media{
            margin-top: -5px;

            li.social-network, li.social-network a{
              width: 35px;
              height: 35px;
            }

            li.social-network{
              &:after{
                font-size: 21px;
              }
            }
          }

          .social-network.telephone{
            font-size: 15px;
            margin-top: 5px;
          }
        }
      }
    }
    article.pagewrap{
      footer{
        position: relative;
        bottom: auto;
        left: auto;
        right: auto;
        margin: 15px 0;

        span.footer-info{
          font-size: 12px;
          width: 100%;
          max-width: inherit;
          text-align: center;
          float: none;
          display: block;
          padding: 10px 0;
        }

        ul.social-media{
          float: none;
          max-width: 100%;
          text-align: center;
          li{
            margin-left: 0;
            display: inline-block;
            float: none;
          }
        }
      }
    }
  }
}
