@include breakpoint(650px){

	section#teammembers{
		.gallery-cell.is-selected{
			.content h3{

				span.subtitle{
					//display: inline;

					span{
						//display: inline;
					}
				}
			}
		}
	}

	.news-slider .gallery-cell{width: 33%;}

	body.page-template-members{
		article.pagewrap{
			footer{
				bottom: 25px;

				span.footer-info{
					width: 70%;
					max-width: inherit;
					text-align: left;
				}

				ul.social-media{
					display: block;
				}
			}
		}
	}


	aside#main-menu nav .menu-hoofdmenu-container .menu .menu-item .sub-menu .menu-item .sub-menu.expanded,
	aside#main-menu nav .menu-hoofdmenu-container .menu .menu-item .sub-menu .menu-item .sub-menu .menu-item {
		width:300px;
	}
	.home {
		h1{font-size: 120px; text-align:center;}
		p {max-width: 490px; margin:auto;}
		#pagecontainer {padding:15% 25px;}
	}

	.edgeart_flipclock {
		margin-left: -250px;
		ul {
			width:35px;
			height:75px;
			margin:5px;
			padding:25px;
			li{
				line-height:75px;
				a div div.inn {font-size:40px;}
				a div.up:after {top:37px;}
			}
		}
		.flip-clock-divider { width:5px; height:82px }
		.flip-clock-dot {width:5px; height:5px; left:0px;}
		.flip-clock-dot.top, {top:32px;}
		.flip-clock-dot.bottom {bottom:32px;}
		.flip-clock-label {font-size:25px; right:-72px}
		.flip-clock-divider.minutes .flip-clock-label {right:-80px}
		.flip-clock-divider.seconds .flip-clock-label {right:-82px}
	}

	//#slider_news .imageholder img {display:block}
	.allslider .sliderElem {
		.labels{
			h1{font-size:70px; margin:45px 0 25px 0}
			h2{font-size:30px; margin:10px 0 10px 0}
		}
	}
	#slider_about, #slider_services{display:block;}
}

@include breakpoint(782px){

	#slider_about, #slider_services, #slider_news{
		.bullets{display:inline-block !important;}
	}

	.portfolio-slider {
		.desktop, .btn-prev, .btn-next, .bullets {display:block;}
		.mobile {display:none;}
	}

	//.admin-bar aside#main-menu {top:32px;}
	//.admin-bar .pagewrap {top:32px;}
	//.admin-bar header#mobile-header {top:-45px;}
	.page-template-pagetemplateswat-is-nieuw-php{
		.pagewrap {
			left:332px;
			top:0;
		}

		aside#main-menu {
			width:325px;
			transform:translateX(0px);
			-ms-transform:translateX(0px);
			-webkit-transform:translateX(0px);
		}

		header#mobile-header {
			top:-45px;
		}
	}

	.home {
		h1{font-size: 120px; text-align:center;}
		#pagecontainer {padding:15% 25px;}
	}

	.edgeart_flipclock {
		margin-left: -200px;
		ul {
			width:25px;
			height:55px;
			margin:5px;
			padding:18px;
			li{
				line-height:55px;
				a div div.inn {font-size:30px;}
				a div.up:after {top:27px;}
			}
		}
		.flip-clock-divider { width:5px; height:62px }
		.flip-clock-dot {width:5px; height:5px; left:0px;}
		.flip-clock-dot.top, {top:22px;}
		.flip-clock-dot.bottom {bottom:22px;}
		.flip-clock-label {font-size:25px; right:-72px}
		.flip-clock-divider.minutes .flip-clock-label {right:-80px}
		.flip-clock-divider.seconds .flip-clock-label {right:-82px}
	}

	#slider_news .imageholder img {display:block}
	.allslider .sliderElem {
		.labels{
			h1{font-size:90px; margin:45px 0 25px 0}
			h2{font-size:30px; margin:10px 0 10px 0}
		}
	}
}

@include breakpoint(850px){
	.single, .page {
		.prev_post, .next_post{
			display:block;
		}
	}
}

@media only screen and (orientation:portrait) and (min-width: 768px){
	body.page-template-members {
		section#teammembers{
			padding-top: 5%;
			box-sizing: border-box;
		}

		.news-slider .gallery-cell{
			width:50%;
		}

		.news-slider .gallery-cell.is-selected .slide-img{
			width: 90%;
		}
	}
}


@media only screen and (orientation:landscape) and (max-height: 769px){
	body.page-template-members article.pagewrap footer{
		padding-bottom:0;
		bottom:auto;
	}
}

@media only screen and (orientation:landscape) and (min-height: 668px) and (max-height: 769px){

	.news-slider .flickity-viewport{
		padding-top: 5%;
	}

	body.page-template-members article.pagewrap footer{
		position: relative;
		left:auto;
		right:auto;
		bottom:auto;
		padding:40px 20px 0 20px;
	}

	body.page-template-members section#teammembers{
		//padding-bottom: 70px;
		//min-height:800px;
	}
}

