
.pagewrap{
  position:relative;
  display:block; 
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
  #pagecontainer{
    margin:auto;
    padding: 30px 10%;
    max-width:900px;
    opacity:0;
  }
}

header#mobile-header {
  @include animateElement(top 0.5s);
  position:fixed;
  background-color:#ffaf00;
  top:0;
  left:0;
  right:0;
  height:45px;
  z-index: 998;
  border-bottom:1px solid $color2;
  
  .logo {
    background-image: url('../images/logo-mobile.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    width:200px;
    height:45px;
    margin:0 20px;
    float:left;
  }
  .menu-button {
    background-image: url('../images/menu-icon.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    width:30px;
    height:45px;
    margin:0 20px; 
    float:right; 
    cursor:pointer;
  }
} 

.page, .single{
  #breadcrumbs {
    margin:20px 0;
    font-family:$font2;
    font-size:17px;
    text-transform:uppercase;
    color:#fff;
    letter-spacing:-1px;
    a{text-decoration:none;}
    .breadcrumb_last{color:$color1;}
  }
}

.home {
  .page-title{display:none;}
  h1{font-size: 150px;}
  p{max-width:600px}
  #pagecontainer {
    margin:auto;
    max-width:740px;
    padding-top:12%;
  }
}

.single{
  .page-title{color:#757575; margin: 0px 0 25px 0;}
  color:#757575;
  .call-to-action .title{color:#fff}
}

.edgeart_flipclock {
  width: auto;
  padding:50px 0; 
  .flip-clock-label {
    font-family:$font2;
    color:$color1;
  }
  .flip-clock-dot {background: #cccccc; width:8px; height:8px; left:2px;}
  .flip-clock-dot.top {top:20px;}
}

.page-template-pagetemplateswat-is-nieuw-php {
  
  #pagewrap{
    bottom: 0px;
  }
  
  #pagecontainer{
    max-width: initial;
    padding: initial;
  }
  
  #slider_about, #slider_services, #slider_news{
    width: auto !important;
    width:initial !important;
    height: auto !important;
    height:initial !important;
    
    .bullets{
      bottom:20px;
      right:23px;
      display:none;
    }
  }
  #slider_news{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:40%;
    
    background-color:$color1;
    @include gradient($color1, #ffaf00, 180deg); 
  }
  
   #slider_about, #slider_services{
    position:absolute;
    left:50%;
    right:0;
    top:60%;
    bottom:0;
  }
  
  #slider_about{
    left:0;
    right:50%;
  }
}

.category {
  #pagewrap{
    bottom: 0px;
  }
  
  #pagecontainer{
    max-width: initial;
    padding: initial;
  }
  
  .allslider{
    width: auto !important;
    width:initial !important;
    height: auto !important;
    height:initial !important;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
  }
}