@import 'fonts';
@import "compass/css3/border-radius";

$font1: Arial, sans-serif;
$font2: 'DINcond-bold', Arial, sans-serif;
$font3: 'DINRegular', Arial, sans-serif;
$font4: 'DINBold', Arial, sans-serif;
$font5: 'DINLight', Arial, sans-serif;

$color1: #ffcc00;
$color2: #242424;
$color3: #fff;
$color4: #000000;
$color5: #000000;

$body-color: $color4;
$text-color: $color3;

$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

.color-1 {color:$color1}
.color-2 {color:$color2}
.color-3 {color:$color3}
.color-4 {color:$color4}
.color-5 {color:$color5}

.font-1 {font-family:$font1 !important}
.font-2 {font-family:$font2 !important}
.font-3 {font-family:$font3 !important}
.font-4 {font-family:$font4 !important}
.font-5 {font-family:$font5 !important}

.hidden-menu-item {
  display:none !important;
  visibility: hidden;
}

html, body {
  background-color: $body-color;
  font-family: $font1;
  font-size: 13px;
  color: $text-color;
  line-height: 140%;
  margin: 0;
  padding: 0;
  *{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    *{-webkit-backface-visibility: hidden;}
  }
}

a {
  text-decoration:none;
  color:$text-color;
}

@include breakpoint(300px){
  h1 {font-family:$font2; font-size:45px; text-transform:uppercase; font-weight:normal; margin:45px 0 20px 0; line-height: 90%; letter-spacing:-1px; }
  h2 {font-family:$font2; font-size:30px; text-transform:uppercase; font-weight:normal; line-height: 90%; letter-spacing:-1px; }
  h3 {font-family:$font2; font-size:22px; text-transform:uppercase; font-weight:normal; line-height: 90%; letter-spacing:-1px; }
  h4 {}
  h5 {}
  h6 {}
  p  {margin:10px 0 20px 0;}
}

@include breakpoint(800px){
  h1 {font-family:$font2; font-size:65px; text-transform:uppercase; font-weight:normal; margin:45px 0 20px 0; line-height: 90%; letter-spacing:-1px; }
  h2 {font-family:$font2; font-size:36px; text-transform:uppercase; font-weight:normal; line-height: 90%; letter-spacing:-1px; }
  h3 {font-family:$font2; font-size:28px; text-transform:uppercase; font-weight:normal; line-height: 90%; letter-spacing:-1px; }
  h4 {}
  h5 {}
  h6 {}
  p  {margin:10px 0 20px 0;}
}

p{
  padding-left:20px;
  a{text-decoration:underline;}
  a:hover{color:$color1;}
}

blockquote {
  display:block;
  width:auto;
  margin:10px 0;
  color:$color4;
  h1, h2,h3,h4,h5,h6,p{
    display:inline-block;
    background-color:$color1;
    padding:15px 20px;
    margin:0;
    a {
      padding:15px 20px;
      margin:-15px -20px;
      display:block;
      color:#000;
      @include animateElement(all 0.3s);
    }
    a:hover {background-color:#000; color:$color1;margin-left:-10px;}
  }
}

.social-icons{
  ul, li {list-style:none; margin:0; padding:0;}
  .icon {
    position:relative;
    list-style:none;
    display:inline-block;
    width:30px;
    height:30px;
    background-size:contain;
    background-position:50%;
    background-repeat:no-repeat;
    a{position:absolute; left:0; right:0; top:0; bottom:0;}
  }

  .facebook{
    background-image:url('../images/icon_facebook.png');
     &:hover{ background-image:url('../images/icon_facebook_hover.png'); }
  }

  .twitter{
    background-image:url('../images/icon_twitter.png');
     &:hover{ background-image:url('../images/icon_twitter_hover.png'); }
  }

  .pinterest{
    background-image:url('../images/icon_pinterest.png');
    &:hover{ background-image:url('../images/icon_pinterest_hover.png');}
  }
}
