
.slideout-portfolio {
  div.item {
    position: relative;
    padding: 25%;
    width:0;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    visibility: visible;
    opacity: 1;

    .overlay{
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      visibility: hidden;
      opacity: 0;
      @include transition(all, 0.5s);

      span{
        visibility: hidden;
        opacity: 0;
        top:50%;
        left:50%;
        @include translate(-50%, -50%);
        position: absolute;
        @include transition(all, 0.5s);

        img{
          visibility: hidden;
          opacity: 0;
          max-width: 100%;
          height: auto;
          @include transition(all, 0.5s);
        }
      }
    }

    &:hover{
      .overlay{
        visibility: visible;
        opacity: 1;
        background: rgba(0,0,0, 0.7);
        //        @include transition(all, 0.5s);

        span, img{
          visibility: visible;
          opacity: 1;
        }
      }
    }
    &.hidden{
      visibility: hidden;
      opacity: 0;
    }

  }
  .portfolio-item-viewer{
    position: relative;
    overflow: hidden;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    display: block;
    margin: 0;
    clear: both;

    .inner{
      left:0;
      top:0;
      position: relative;
      display: block;
      width: 100%;
    }
    .close-btn{
      background-image: url('../images/kruisje.png');
      position: absolute;
      right: 15px;
      top: 15px;
      width: 23px;
      height: 23px;
    }

    .image{
      padding:20% 50%;
      float: left;
      background-size: cover !important;
      background-position: center !important;

      img{
        max-width: 100%;
        height: auto;
      }
    }
    .content{
      width: 100%;
      float: left;
      //        padding: 100px 60px;
      padding: 5%;
      box-sizing: border-box;
      position: relative;

      h3{
        margin-top: 0px;
        margin-bottom: 10px;
      }

      p{
        padding: 0 30px;
        color: #fffefe;
        font-family: $font1;
        font-size: 15px;
        font-weight: 400;
        line-height: 150%;
      }
      a.btn{
        position: relative;
        background: white;
        //text-decoration: underline;
        padding: 6px 15px 3px 15px;
        //                margin-right: 30px;
        //                float: right;
        color: #010101;
        font-family: BebasNeue;
        font-size: 24px;
        font-weight: 700;
        line-height: 27px;
        float: right;
        margin-right: 30px;

        &:after{
          position: absolute;
          content: " ";
          height: 1px;
          background: #000;
          left: 15px;
          bottom: 5px;
          right: 15px;
        }
      }
    }

    &.expanded{
      //padding: 20% 50%;
      display: block;
    }
  }
}

@include breakpoint(max-width 450px){
  .slideout-portfolio {
    div.item {
      padding: 25%;
    }

    div.item:nth-of-type(4n){
      background: #262626;
    }
    div.item:nth-of-type(4n - 1){
      background: #000;
    }
    div.item:nth-of-type(4n - 2){
      background: #000;
    }
    div.item:nth-of-type(4n - 3){
      background: #262626;
    }
  }
}

@include breakpoint(450px){
  .slideout-portfolio {
    div.item {
      padding: 16.66%;
    }
    div.item:nth-child(even){
      background: #262626;
    }
  }
}

@include breakpoint(768px 1600px){
  .slideout-portfolio {
    div.item {
      padding: 12.5%;
      background: #000 ;
    }
    div.item:nth-child(even){
      background: #000;
    }
    div.item:nth-of-type(8n){
      background: #262626;
    }
    div.item:nth-of-type(8n - 2){
      background: #262626;
    }
    div.item:nth-of-type(8n - 5){
      background: #262626;
    }
    div.item:nth-of-type(8n - 7){
      background: #262626;
    }
  }
}

@include breakpoint(1600px 1920px){
  .slideout-portfolio {
    div.item {
      padding: 10%;
    }
  }
}

@include breakpoint(1920px){
  .slideout-portfolio {
    div.item {
      padding: 8.33%;
    }
    div.item:nth-child(even){
      background: #000;
    }
    div.item:nth-of-type(12n){
      background: #262626;
    }
    div.item:nth-of-type(12n - 2){
      background: #262626;
    }
    div.item:nth-of-type(12n - 4){
      background: #262626;
    }
    div.item:nth-of-type(12n - 7){
      background: #262626;
    }
    div.item:nth-of-type(12n - 9){
      background: #262626;
    }
    div.item:nth-of-type(12n - 11){
      background: #262626;
    }
  }
}
