aside#main-menu{
	background-color:$color1;
	@include gradient($color1, #ffaf00, 180deg);
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	width:100%;
	border-right:7px solid $color2;
	z-index:99999;
	@include animateElement(width 0.5s);

	#home-url{
		display: table;
		width: 100%;
		z-index: 999999;
		height: auto;
		position: relative;
		left: 0;
		top: 0;

		.logo {
			background-image: url('../images/logo.png');
			background-repeat:no-repeat;
			background-size:contain;
			background-position:center;
			width:250px;
			height:150px;
			margin:70px auto;
		}

	}
	nav{
		opacity:0;

		@include animateElement(all 0.3s);

		.menu{
			*{color:#000};
			display:block;
			text-align:right;
			list-style:none;
			padding:0;
			padding-bottom:6px;
			background-image: url('../images/menu-item-shadow.png');
			background-repeat:no-repeat;
			background-size:300px auto;
			background-position:100% 100%;
			.menu-item {
				p{margin:0}
				background-color:none;
				background-image: url('../images/menu-item-shadow.png');
				background-repeat:no-repeat;
				background-size:300px auto;
				background-position:100% 0;
				font-family:$font2;
				font-size:36px;
				text-transform:uppercase;
				font-weight:700;
				letter-spacing:-1px;
				margin:0px 0;

				@include animateElement(background-color 0.3s);
				a{
					position:relative;
					display:block;

					p{padding:18px;}
					//padding-bottom:15px;
					transform:translateX(0px);
					-ms-transform:translateX(0px);
					-webkit-transform:translateX(0px);

					@include animateElement( transform 0.3s);
				}

				.sub-menu{

					list-style:none;
					padding:0;
					&.expanded{padding-bottom: 10px;}
					height:0px;
					overflow:hidden;
					@include animateElement( height 0.3s);

					.menu-item{
						background-image:none;
						background-image:initial;
						font-size:20px;
						a{padding:0; p{padding:5px 18px;}}

						.sub-menu {
							p{padding:0px;}
							height:auto;
							height:initial;
							background-color:#242424;
							position:fixed;
							top:0;
							left:325px;
							width:0px;
							bottom:0;
							*{color:#fff};
							z-index:10;
							overflow:hidden;
							@include animateElement( width 0.3s);

							.menu-item{
								line-height:100%;
								position:relative;
								font-size:30px;
								p{

									@include breakpoint ('max-height' 500px) {
										font-size:20px;

									}

									@include breakpoint ('max-height' 350px) {
										font-size:20px;

									}
									padding-left:30px;


								}
								.sub{
									font-family:$font1;
									text-transform:none;
									text-transform:initial;
									font-size:13px;
									line-height: 130%;
									margin-top:3px;
								}
								width:300px;
								float:right;
								a{
									display: block;
									padding: 10%;
									position: absolute;
									top: 0;
									bottom: 0;
									left: 0;
									right: 0;
									background-image:-webkit-linear-gradient(-60deg,rgba(0,0,0,0) 39%,rgba(255,255,255,0) 67%,rgba(255,255,255,0.18) 99%);
									background-image:-moz-linear-gradient(-60deg,rgba(0,0,0,0) 39%,rgba(255,255,255,0) 67%,rgba(255,255,255,0.18) 99%);
									background-image:-o-linear-gradient(-60deg,rgba(0,0,0,0) 39%,rgba(255,255,255,0) 67%,rgba(255,255,255,0.18) 99%);
									background-image:-ms-linear-gradient(-60deg,rgba(0,0,0,0) 39%,rgba(255,255,255,0) 67%,rgba(255,255,255,0.18) 99%);
									overflow:hidden;
									img{
										position: absolute;
										width: 90%;
										left:50%;
										bottom:50%;
										margin-left:-45%;
										margin-bottom:-45%;
										height: auto;
										z-index: -1;
									}
								}
								&:hover{
									background-color:rgba(255,255,255, 0.2);
								}
							}
						}

						.sub-menu.expanded {
							width:300px;
						}
					}
				}

				.sub-menu.expanded {
					//max-height:initial;
				}

			}
			.menu-item:hover{
				background-color:rgba(255,183,0, 0.7);
				a:first{
					transform:translateX(3px);
					-ms-transform:translateX(3px);
					-webkit-transform:translateX(3px);
				}
			}
		}
	}
	.bee-structure{
		background-image: url("../images/menu-structure.png");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 100% 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 400px;
		margin: 0;
		padding: 0;
	}
}

@include breakpoint ('max-width' 500px) {
	aside#main-menu nav .menu-hoofdmenu-container .menu .menu-item .sub-menu .menu-item .sub-menu {
		left:0px;
	}
}

@include breakpoint ('max-height' 500px) {
	aside#main-menu nav .menu-hoofdmenu-container .menu .menu-item .sub-menu .menu-item .sub-menu {
		left:0px;
	}
}
