

.allslider {
    font-family:arial;
    display:inline-block;
    vertical-align:top;
    position:relative;
    max-width:100%;
    overflow:hidden; 

    .sliderContainer{
        width: 100%;
        height: 100%;
        //-webkit-transition: all 0.5s ease-in-out;
        //-moz-transition: all 0.5s ease-in-out;
        // -o-transition: all 0.5s ease-in-out;
        // transition: all 0.5s ease-in-out;
    }

    .sliderElem {
        position:relative;
        display:block;
        margin:0;
        padding:0;
        max-width:100%;

        .imageholder {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            overflow:hidden;
        }

        img{
            position:absolute;
            top:50%;
            left:50%;
        }

        .overlaybutton{
            position:absolute;
            top:0;
            left:0;
            bottom:0;
            right:0;
        }

        .labels{
            *{text-align:left;}
            position:absolute;
            left:10%;
            top:20%;
            h1{font-size:90px; color:#000;}
            h2{font-size:30px; color:#000;}
        }
    }

    .btn-prev, .btn-next{
        cursor:pointer;
        background-color:#000;
        position:absolute;
        background-size:50%;
        background-repeat:no-repeat;
        background-position:50%;
        width:50px;
        height:50px;
        top:50%;
        margin-top:-25px;
    }

    .btn-prev {
        background-image: url('../images/arrow-icon-left.png');
        left:0;
        &:hover{
            background-image: url('../images/arrow-icon-left-hover.png');
        }
    }

    .btn-next {
        background-image: url('../images/arrow-icon-right.png');
        right:0;
        &:hover{
            background-image: url('../images/arrow-icon-right-hover.png');
        }
    }

    .slider_title{
        position:absolute;
        bottom:0;
        width:100%;
        background-color:rgba(0,0,0,0.7);
        padding:20px;
        margin:0;
    }

    .bullets{
        position:absolute;
        bottom:0;
        right:0;
        display:inline-block;
        padding:5px;
        color:white;

        button{
            padding:0;
            border:0;
            width:12px;
            height:12px;
            @include border-radius(999px, 999px);
            background-color:$color2;
            margin-right:7px;
            outline:none;
            cursor:pointer;

            -webkit-box-shadow:rgba(255, 255, 255, 0.290196) -1px -1px 0px 0px inset;
            -moz-box-shadow:rgba(255, 255, 255, 0.290196) -1px -1px 0px 0px inset;
            box-shadow:rgba(255, 255, 255, 0.290196) -1px -1px 0px 0px inset;
            background-image:-webkit-linear-gradient(100deg,rgb(15,15,15) 0%,rgb(117,117,117) 100%);
            background-image:-moz-linear-gradient(100deg,rgb(15,15,15) 0%,rgb(117,117,117) 100%);
            background-image:-o-linear-gradient(100deg,rgb(15,15,15) 0%,rgb(117,117,117) 100%);
            background-image:-ms-linear-gradient(100deg,rgb(15,15,15) 0%,rgb(117,117,117) 100%);


            &:hover, &.active{
                background-image:none;
                background-color:white;
            }
        }
    }
}

.allslider.fade {
    .sliderElem{
        position:absolute;
    }
}

.allslider.slide {
    .sliderElem{
        position:relative;
        float:left;
    }
}


//-----------------------------------------------------------
//Custom Slider Settings
//-----------------------------------------------------------



.portfolio-slider, .about-us-slider {
    .sliderElem{
        .description{
            .inner{padding: 0 70px 20px; @include clearfix()}
            h2{margin: 10px 0; color:#bbb}
            .call-to-action h2 {color:#fff}
            p{
                padding-left:0;
                display:inline;
                font-size:14px;
                color:#aaa;
            }
            a{color:#fff; text-decoration:underline;}
            a:hover{color:$color1}
            strong{color:#fff}
            .btn-prev{left:20px;}
            .btn-next{right:20px;}
        } 
    }
    .description {
        position:absolute;
        bottom:0;
        width:100%;
        background-color:rgba(0,0,0,0.5);
        .inner {
            color:#fff;
            display:block;
            margin:20px;
            padding:0 50px;
        }
    } 
}

.about-us-slider{ 
    .sliderElem{
        .description{
            h2{margin: 10px 0; color:#fff}
            .btn-prev{background-color:none;}
            .btn-next{background-color:none;}
        }
    }
}

.portfolio-slider {
    width: auto !important;
    width:initial !important;
    height: auto !important;
    height:initial !important;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;

    .sliderElem{
        .description{
            background-color:#000;
            p{
                color:#999;
                //font-size:14px;
            } 
            strong{color:#fff}
            .item-description{
                width:68%;
                float:left;
            }
            .call-to-action{
                width:30%;
                float:right;
                blockquote{
                    h3{padding: 8px 15px;}
                    a{text-decoration:none; color:#000;}
                    a:hover {color:#fff;}
                }
            }
            .btn-prev{left:20px;}
            .btn-next{right:20px;}
            .social-icons {display:block; text-align:right; margin-top:10px;}
        }

        .mobile {
            z-index:999;
            background-color:rgba(0,0,0,0.6);
            .inner {
                margin:0 15px;
                padding: 10px 10px 94px 10px !important; 
                h2{color:#fff;}
            }
            .read-more{
                position:absolute;
                left:0;
                right:86px;
                bottom:0;
                font-family:$font2;
                font-size:30px;
                display:inline-block;
                padding:34px;
                background-color:#000;
                text-transform:uppercase;
                text-align:center;
                text-decoration:none;
            }
            .contact-us{
                position:absolute;
                right:0;
                bottom:0;
                display:inline-block;
                background-color:#ffaf00;
                padding:43px;
                background-size:40%;
                background-position:50%;
                background-repeat:no-repeat;
                &.phone{background-image:url('../images/icon_phone.png')}
                &.mail{background-image:url('../images/icon_mail.png')}
            }
        }
    }
}